<div class="filmCard" >
  <h1>{{ snapFilm.title | uppercase}}</h1>
  @if(snapFilm.location){

      <h3>Location: {{this.snapFilm.location | titlecase}}</h3>
  }
  @else{

      <h3>location non specifiée</h3>
  }
  <img [src]="snapFilm.url" [alt]="snapFilm.title" />
  <p>{{ snapFilm.description }}</p>
  <p>{{ snapFilm.createdAt | date: 'longDate'}}</p>
  <button [ngClass]="{snapped: isSnapped }" (click)="snap()">{{textButton}}</button>
  <span [ngStyle]="{color:'rgb(0,'+snapFilm.snaps+',0)'}">{{ snapFilm.snaps }}</span>
</div>
